* {
    box-sizing: border-box;
}

.input-container{
    position: relative;
    z-index: 100;
    transform: translateY(-50%);
    background: #383838;
}

input {
    width: 40px;
    background: transparent;
    outline: none;
    border: 1px solid #555;
    margin: 0 8px;
    color: white;
    text-align: right;
}

body{
    background: #383838;
}
/* input:focus{
    background: #888;
} */

svg {
    margin: 8px;
    border-radius: 4px;
    border: 1px solid #555;
}